.Flicker {
  width: 3rem;
  height: 1rem;
  background-image: linear-gradient(#fff, #000);
  border-radius: 0.5rem;
  animation: flicker-construction 3s infinite;
}

.Flicker:active {
  /* Rotate on click? */
}

@keyframes flicker-construction {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-45deg);
  }
  50% {
    transform: rotateZ(-90deg);
  }
  75% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
