.Knob {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  animation: knob-animated 6s infinite;
}

.notch {
  height: 1.5rem;
  width: 0.2rem;
  background-color: black;
}

@keyframes knob-animated {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
